@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-yellow-dark: #535026;
  --primary-yellow-dim: #d6ca26;
  --primary-yellow: #fef567;
  --primary-yellow-light: #fffccd;
}

.default-global {
  font-variant: small-caps;
}

.link-row {
  transition: transform 0.3s ease-in-out;
}

.link-row.slide-up {
  transform: translateY(-100%);
}

.link-row.slide-down {
  transform: translateY(100%);
}
